{{$ tube.scenes.templates.player.player }}

<div class="s-player__title" data-export-id="{{@title}}"></div>
<div class="s-player__shadow" data-export-id="{{@shadow}}">
	<div class="s-player__controls">
		{{% tube.widgets.PlayerProgress, {}, progress }}
		{{% zb.ui.widgets.HelpBar, {}, helpBar }}
	</div>
</div>
